<link rel="stylesheet" href="~/Content/StyleSheet6.css" />
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Div1">
    <h1>History</h1>
</div>
<div class="Div2">
    <h1>Goal</h1>

</div>
<div class="Div3">
    <h1>Staff</h1>
</div>