<link rel=" stylesheet" href="~/Content/StyleSheet5.css" />
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="Div1">
    <p>
        
        <h1>Power Gym</h1>
        <h3>No Pain .. No Gain</h3>
        
    </p>
</div>