<link href="~/Content/StyleSheet8.css" rel="stylesheet" />
@{
    
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Div1">
    <a href="#"></a>
</div>
<div class="Div2">
    <a href="#"></a>
</div>
<div class="Div3">
    <a href="#"></a>
</div>