@model FitnessApp.Models.SignUp

<div>
    <a href="Index">Home</a>
    <a href="About">About</a>
    <a href="#">Gallery</a>
    <a href="Contact">Contact up</a>
    <a href="Login">Login</a>
</div>
<div>
  <div >
        <div >
            <h1>Sign Up for Free</h1>

            <form action="/" method="post">

                <div>
                    <div>
                        <label>
                            First Name<span>*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                    </div>

                    <div>
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                    </div>
                </div>
                <div>
                    <label>
                        Username<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                </div>

                <div>
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" required autocomplete="off" />
                </div>

                <div>
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" />
                </div>
                <div>
                    <label>
                       Confrime Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" />
                </div>
                <div>
                    <label>
                        Birthdate<span class="req">*</span>
                    </label>
                    <input type="date" required autocomplete="off" />
                </div>

                <button type="submit">Get Started</button>

            </form>

        </div>


    </div>

</div> 
