<link rel="stylesheet" href="~/Content/StyleSheet4.css" />
@model FitnessApp.Models.SignUp

@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<form action="/Home/Home/Create" method="post"><input name="__RequestVerificationToken" type="hidden" value="c2yAe0pVWwAF0N4I8qRgLzFx1ODcjx9Br3jc9p6xgQlWrb6M1whCRZO7mlth3L8VEm8LRhgG5D6HRrXqcsDyVfl3WmFNB8vvlgteRQHWyJo1" />    <div class="signup">
        <h4 style=" bottom:40px; padding:35px 0 0 0;  text-align:center; align-items:center; margin:auto;width:50%;    ">SignUp</h4>
      <div class="signup1">  
        
        <div class="form-group">
            <label class="control-label col-md-2" for="Firstname"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" placeholder="Firstname" data-val="true" data-val-required="Please complite this Textbox" id="Firstname" name="Firstname" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Lastname"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" placeholder="Lastname" data-val="true" data-val-required="Please complite this Textbox" id="Lastname" name="Lastname" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Username"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" placeholder="Username" data-val="true" data-val-required="Please complite this Textbox" id="Username" name="Username" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Email"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" placeholder="Email" data-val="true" data-val-required="Please complite this Textbox" id="Email" name="Email" type="email" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" placeholder="Password" data-val="true" data-val-length="You need to write longer Password" data-val-length-max="50" data-val-length-min="8" id="Password" name="Password" type="password" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ConfirmPassword"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" placeholder="ConfirmPassword" data-val="true" data-val-equalto="Please write same Password" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
                <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="BirthDate"></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" placeholder="Birthdate" data-val="true" data-val-date="The field BirthDate must be a date." data-val-required="The BirthDate field is required." id="BirthDate" name="BirthDate" type="date" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="BirthDate" data-valmsg-replace="true"></span>
            </div>
        </div>
      </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="width:40%; background-color:transparent; border-radius:15px; height:40px; margin-top:10px; align-items:center; margin-left:30%; position:center; margin-right:auto; text-align:center;" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
