@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div>
        <a href="Index">Home</a>
        <a href="About">About</a>
        <a href="#">Gallery</a>
        <a href="Contact">Contact up</a>
        <a href="Login">Login</a>
    </div>
    <div>
        <img src="~/Images/A1.png" width="500" height="300">
        <p><h1>Power Gym</h1></p>
        <p><h3>No Pain .. No Gain</h3></p>

    </div>
    <div><button>Join Us Now</button></div>


    <footer>
        <a href=""><img src=""></a>
    </footer>
</body>
</html>