@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="~/Content/StyleSheet2.css" />
</head>
<body>
    <div class="home">

        <p>
            <h1>Power Gym</h1>
            <h3>No Pain .. No Gain</h3>
        </p>
        <button>Join Us Now</button>
    </div>
    
</body>
</html>