
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>

<head>
    <title>Service login form Responsive Widget Template : W3Layouts</title>

</head>

<body>
    <div>
        <a href="Index">Home</a>
        <a href="About">About</a>
        <a href="#">Gallery</a>
        <a href="Contact">Contact up</a>
        <a href="Login">Login</a>
    </div>    
    <div>
        <h1>Service Login Form</h1>
        <div>
            <div>
                <div>
                    <h2>Login</h2>
                    <form action="Create" method="post">
                        <div>
                            <span><i aria-hidden="true"></i></span>
                            <input type="text" placeholder="Username or Email" required="">
                        </div>
                        <div>
                            <span><i aria-hidden="true"></i></span>
                            <input type="Password" placeholder="Password" required="">
                        </div>
                        <div>
                            <div>
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Remember me?</label>
                            </div>

                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <p><span>or Login with</span></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>