.Div1 {
    border: solid 1px;
    width: 15%;
    height: 200px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 20px darkred;
    background: url(../Images/F.png) center center no-repeat;
    background-size: cover;
}

.Div2 {
    position: relative;
    border: solid 1px;
    width: 15%;
    margin: auto;
    border-radius: 30px;
    height: 200px;
    box-shadow: 0px 0px 40px 20px darkred;
    background: url(../Images/I.jpg) center center no-repeat;
    background-size: cover;
}

.Div3 {
    border: solid 1px;
    width: 15%;
    margin:auto;
    border-radius: 30px;
    height: 200px;
    box-shadow: 0px 0px 40px 20px darkred;
    text-align: center;
    background: url(../Images/T.png) center center no-repeat;
    background-size: cover;
}
